.app-title {
    background-image: linear-gradient(to right, rgb(66, 66, 212), rgb(19, 4, 60));
    color:white;
    text-align: center;
    padding: 20px;
    font-weight: bold;
}

.card-header {
    font-weight:bold;
    background-color: white;
    border: none;
    
}

.form-control {
    border-radius: 6px;
    height: 50px;
}

#search-btn {
    border-radius: 6px;
    padding: 8px;
    border:none;
}

#clear-btn {
    border-radius: 6px;
    padding: 8px;
    border:none;
    background-color: gray;
}

.search-history{
    text-align: center;
    justify-items: center;
    padding: 8px;
    background-color: lightgrey;
    color: black;
    border-radius: 6px;
}

.favorable {
    background-color: green;
    width: fit-content;
    color: white;
    padding:8px;
    border-radius:6px;
}

.moderate {
    background-color: rgb(241, 241, 34);
    width: fit-content;
    color: white;
    padding:8px;
    border-radius:6px;
}

.severe {
    background-color: rgb(166, 29, 29);
    width: fit-content;
    color: white;
    padding:8px;
    border-radius:6px;
}