
.app-title {
    background-image: linear-gradient(to right, rgb(91, 176, 205), rgb(2, 36, 57));
    color:white;
    text-align: center;
    padding: 20px;
    font-weight: bold;
}

.card-header {
    font-weight:bold;
    background-color: white;
    border: none;
    
}

.form-control {
    border-radius: 6px;
    height: 50px;
}

#search-btn {
    border-radius: 6px;
    padding: 8px;
    border:none;
    background-color: rgb(56, 145, 174);
}

#clear-btn {
    border-radius: 6px;
    padding: 8px;
    border:none;
    background-color: gray;
}

#search-history{
    text-align: center;
    justify-items: center;
    padding: 8px;
    background-color: lightgrey;
    color: black;
    border-radius: 6px;
}

.favorable {
    background-color: green;
    width: fit-content;
    color: white;
    padding:6px;
    border-radius:6px;
}

.moderate {
    background-color: rgb(241, 241, 34);
    width: fit-content;
    color: white;
    padding:6px;
    border-radius:6px;
}

.severe {
    background-color: rgb(166, 29, 29);
    width: fit-content;
    color: white;
    padding:6px;
    border-radius:6px;
}

.col-2 {
    color: white;
    background-color: rgba(9, 110, 144, 0.782);
    margin:8px;
    font-weight: bold;
    text-align: center;

}

.col-8 {
    margin-bottom: 50px;
}

.row {
    margin-left:8px;
    margin-top: 8px;
}





